body {
margin:0 auto;
margin-top:50px;
width:900px;
}

#main{
width:900px;
height:auto;
position:relative;		
}

#header {
width:900px;
height:150px;
background-color:#FFF;
border:1px solid #333;
clear:both;
}

#bheader {
width:900px;
height:50px;
background-color:#FFF;
border-bottom:1px solid #333;
border-left:1px solid #333;
border-right:1px solid #333;
clear:both;
}

#wrapper{
width:900px;	
margin-top:10px;
}

#navigation {
padding-bottom:10px;
width:200px;
min-height:500px; 
height:auto !important; 
height:500px; 
background-color:#fff;
float:right;
}

#menu {
min-width:100px; 
width:auto !important; 
width:100px; 
min-height:50px; 
height:auto !important; 
height:50px; 
background-color:#fff;
float:right;
border-top:1px solid #333;
border-bottom::1px solid #FFF;
}

#content {
padding:10px;
width:670px;
height:auto;  
background-color:#fff;
margin-top:10px;
border:1px solid #333;
}

#footer {
clear:both;
width:900px;
height:100px;
background-color:#FFF;
margin-top:10px;
border:1px solid #333;
} 

#n1{
min-width:180px;
width:auto;
height:auto;
border:1px solid gray;
padding:5px;
}

#n11{
margin-top:10px;
padding:5px;
min-width:180px;
width:auto;
height:auto;
border-top:1px solid gray;
}
p{
	margin:5px;
	text-align:justify;
}
a{
	color:#09F;
	text-decoration:none;
}
a img{
	text-decoration:none;
}
a:hover{
	color:#036;
	text-decoration:underline;
}
.flow{
	 background:#FFF;
	 border:1px solid gray;
}
.flow table{
	 background:#FFC;
	 border:1px solid #FF6;
}